body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dbdad9;
}

.cabecalho {
  position: relative; 
  height: 10vh;
  width: 100%;
  background-color: #6d1d20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho h1{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}


.main-container{
  height: 86vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.univass1 {
  width: 100px;
  height: auto;
  padding: 40px;
}

h1 {
  font-size: 2em;
  color: white;
  margin: 0;
}

.rodape {
  background-color: #6d1d20;
  height: 4vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 1em;
  color: white;
  margin: 0;
}

.calculator {
  width: 80%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result{
  border: none;
  margin-top: 10px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around
}

.calculator input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

.calculator button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calculator button:hover {
  background-color: #0056b3;
}
